.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: lightgrey;
  border-bottom: 1px solid;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
  height: 60px;
}
